[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appnope = "==0.1.0"
attrs = "==19.1.0"
backcall = "==0.1.0"
beautifulsoup4 = "==4.7.1"
bleach = "==3.1.0"
blis = "==0.2.4"
bs4 = "==0.0.1"
cachetools = "==3.1.1"
certifi = "==2019.3.9"
cffi = "==1.12.3"
chardet = "==3.0.4"
click = "==7.0"
cymem = "==2.0.2"
cytoolz = "==0.9.0.1"
decorator = "==4.4.0"
defusedxml = "==0.6.0"
entrypoints = "==0.3"
fastai = "==1.0.53.post3"
fastprogress = "==0.1.21"
ftfy = "==4.4.3"
gcsfs = "==0.2.1"
google-auth = "==1.6.3"
google-auth-oauthlib = "==0.3.0"
html5lib = "==1.0.1"
idna = "==2.8"
ijson = "==2.3"
ipdb = "==0.12"
ipykernel = "==5.1.0"
ipython = "==7.5.0"
ipywidgets = "==7.4.2"
itsdangerous = "==1.1.0"
jedi = "==0.13.3"
joblib = "==0.13.2"
jsonschema = "==3.0.1"
jupyter-client = "==5.2.4"
jupyter-core = "==4.4.0"
kiwisolver = "==1.1.0"
matplotlib = "==3.0.3"
mdparse = "==0.13"
mistune = "==0.8.4"
murmurhash = "==1.0.2"
mwparserfromhell = "==0.5.3"
nbconvert = "==5.5.0"
nbformat = "==4.4.0"
networkx = "==2.3"
notebook = "==5.7.8"
numexpr = "==2.6.9"
numpy = "==1.16.4"
nvidia-ml-py3 = "==7.352.0"
oauthlib = "==3.0.1"
pandas = "==0.24.2"
pandocfilters = "==1.4.2"
parso = "==0.4.0"
passlib = "==1.7.1"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
plac = "==0.9.6"
preshed = "==2.0.1"
ptyprocess = "==0.6.0"
pyasn1 = "==0.4.5"
pyasn1-modules = "==0.2.5"
pycparser = "==2.19"
pyemd = "==0.5.1"
pynvx = "==1.0.0"
pyparsing = "==2.4.0"
pyrsistent = "==0.15.2"
python-dateutil = "==2.8.0"
pytz = "==2019.1"
pyzmq = "==18.0.1"
regex = "==2019.6.8"
requests = "==2.22.0"
requests-oauthlib = "==1.2.0"
rsa = "==4.0"
scikit-learn = "==0.20.3"
scipy = "==1.2.1"
six = "==1.12.0"
soupsieve = "==1.9.1"
spacy = "==2.1.4"
srsly = "==0.0.7"
terminado = "==0.8.2"
testpath = "==0.4.2"
textacy = "==0.7.1"
thinc = "==7.0.4"
timeout-decorator = "==0.4.1"
toolz = "==0.9.0"
torch = "==1.1.0"
torchvision = "==0.2.2.post3"
tornado = "==6.0.2"
tqdm = "==4.32.2"
traitlets = "==4.3.2"
typing = "==3.6.6"
urllib3 = "==1.24.3"
wasabi = "==0.2.2"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
widgetsnbextension = "==3.4.2"
Bottleneck = "==1.2.1"
Cycler = "==0.10.0"
Flask = "==1.0.2"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
Pillow = "==6.0.0"
prometheus_client = "==0.6.0"
prompt_toolkit = "==2.0.9"
Pygments = "==2.4.2"
Pyphen = "==0.9.5"
python-Levenshtein = "==0.12.0"
PyYAML = "==5.1"
Send2Trash = "==1.5.0"
Werkzeug = "==0.15.2"
gunicorn = "==19.9.0"
flask-session = "*"

[requires]
python_version = "3.7"
